* {
  box-sizing: border-box;
}

body {
  background-color: #2B7A77;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  overflow-x: hidden;
  width: 70%;
  color: #fff;
}

h1 {
  margin: 10px;
  text-align: center;
}

.box {
  background-color: #3AAFA9;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
  transform: translateX(400%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(odd) {
  transform: translateX(-400%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-size: 45px;
}
